body {
	margin: 0;
	font-family: Arial, sans-serif;
	background-size: cover;
	background-position: center;
  }

  .background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	overflow: hidden;
  }
  
  .background img {
	filter: blur(5px);
	width: 100%;
	height: 100%;
	object-fit: cover;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
  }
  
  nav img {
    width: 130px; 
    height: auto;
    vertical-align: middle;
  }

  nav span {
    cursor: pointer;
    position: relative;
    left: 5%;
    animation: moveleft 1s linear 1;
	margin-top:10px;
  }

  @keyframes moveleft{
    0%
    {
        transform: translate(-100px);
    }
    100%{
        transform: translate(0);
    }
  }

  nav ul {
    display: flex;
    list-style: none;
    margin: 10px;
    padding: 20px;
    color:white;
    font-family:serif;
  }
  
  nav li {
    margin-left: 20px;
    color:white;
    text-shadow: 0 0 5px #FF0000, 0 0 5px #0000FF;
  }
  
  nav a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
  }
  
  nav a:hover {
    cursor: pointer;
    border-bottom: 2px solid #ffffff;
  }
  
  .container {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
	background-color: rgba(255,255,255,0.7);
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
	border-radius: 20px;
	overflow: hidden;
  }
  
  h1{
	font-size: 48px;
	font-weight: bold;
	text-align: center;
	margin-top: 50px;
	text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
	color:white;
	text-decoration: underline;
	text-shadow: 0 0 5px #FF0000, 0 0 5px #0000FF;
  }

  h3{
	text-align: center;
	color:white;
  }
  
  textarea {
	height: auto;
	min-height: 100px;
	resize: none;
  }  
  
  #question {
	font-size: 24px;
	font-style: italic;
	font-weight: bold;
	text-align: center;
	margin:auto;
	padding: 20px;
	background-color: rgba(0,0,0,0.5);
	border-radius: 20px;
	color: #fff;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
	width:70%;
  }
  
  #answer {
	display: block;
	width: 70%;
	height: 50px;
	padding: 10px;
	margin-top: 10px;
	margin-left: 15%;
	border: none;
	border-radius: 15px;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
	box-sizing: border-box;
	font-size: 20px;
	background-color: rgba(255,255,255,0.8);
	color: #000;
  }
  
  #next {
	display: block;
	width: 30%;
	margin-top: 30px;
	margin-left: 55%;
	padding: 15px;
	background-color: #6c63ff;
	color: #fff;
	border: none;
	border-radius: 20px;
	cursor: pointer;
	font-size: 18px;
	transition: background-color 0.3s ease;
  }
  
  #next:hover {
	background-color: #5a51cc;
	color: #fff;
  }
  
  .question-container {
	animation: fade-in 2s ease 2s;
	opacity: 0;
  }
  
  .question-container.fade-in {
	opacity: 1;
  }
  
  /* Media queries for responsiveness */
  @media only screen and (max-width: 768px) {
	.container {
	  max-width: 90%;
	}
  }
  
  /* Animations */
  @keyframes fade-in {
	from {
	  opacity: 0;
	}
	to {
	  opacity: 1;
	}
  }
  